<%- include('header') %>

<body>
    <h2>CREATING QUIZ PAGE</h2>
    <label>Write Question here??????</label>
   <div> <textarea placeholder="Write Question"></textarea></div>
   <label>Write Answers</label>
    <ol>
    <li><textarea placeholder="Possible Answer" value="firstAnswer"></textarea></li>
    <li><textarea placeholder="Possible Answer"></textarea></li>
    <li><textarea placeholder="Possible Answer"></textarea></li>
    <li><textarea placeholder="Possible Answer"></textarea></li>
    </ol>
    <div><button><a href="/quizCreatedSuccesfully">Create Quiz</a></button></div>
</body>
</html>