<%- include('header') %>

<body>
    <h2>CREATING QUIZ PAGE</h2>
    <label>Write Question here??????</label>
   <div> <textarea value="USER WRITES QUESTION">WRITES QUESTION</textarea></div>
    <ol>
    <li><textarea value="USER WRITES QUESTION">Possible Answer</textarea></li>
    <li><textarea value="USER WRITES QUESTION">Possible Answers</textarea></li>
    <li><textarea value="USER WRITES QUESTION">Possible Answers</textarea></li>
    <li><textarea value="USER WRITES QUESTION">Possible Answers</textarea></li>
    </ol>
</body>
</html>