<%- include('header') %>

<body>
    <h2>CREATE QUIZ</h2>
    
    <form method="POST" action="/creating-quiz-page">
        <div> <label>Quiz Title</label></div>
        <div><textarea placeholder="QUIZ TITLE" name="quiz_title"></textarea></div>
       <div> <label>Categories</label></div>
    <div><select name="cars" id="cars">
        <option value="math" name="math">Math</option>
        <option value="sports"name="sports">Sports</option>
        <option value="history" name="history">History</option>
        <option value="geography" name="geography">Geography</option>
        <option value="science" name="science">Science</option>
        <option value="music" name="music">Music</option>
        <option value="arts"name='arts'>Arts</option>
        <option value="movie" name="movie">Movie</option>
        <option value="other" name="other">Other</option>

      </select></div>
    <label>Write Question here??????</label>
   <div> <textarea placeholder="Write Question" name="question"></textarea></div>
   <label>Write Answers</label>
   
    <ol>
    <li><textarea  class="textArea" placeholder="Possible Answer" name="firstAnswer"></textarea></li>
    <li><textarea class="textArea" placeholder="Possible Answer" name="secondAnswer"></textarea></li>
    <li><textarea class="textArea" placeholder="Possible Answer" name="thirdAnswer"></textarea></li>
    <li><textarea class="textArea" placeholder="Possible Answer" name="fourthAnswer"></textarea></li>
    <form action="/answerTextArea" method="POST"><div><input type="submit" value="Add Answers" name="add_answers" ></input></div></form>
    
    </ol>
    <div><button><input type="submit" value="Add Answer" ></input></button></div>
    <div><button><input type="submit" value="Create Quiz" ></input></button></div>
</form>
</body>
</html>
