<%- include('header') %>

<body>
  <h2>CREATE QUIZ</h2>
  <label>Write Question here??????</label>
  <form method="POST" action="/creating-quiz-page">
    <div> <textarea placeholder="Write Question" name="question"></textarea></div>
    <label>Write Answers</label>
    <ol>
      <li><textarea placeholder="Possible Answer" name="firstAnswer"></textarea></li>
      <li><textarea placeholder="Possible Answer" name="secondAnswer"></textarea></li>
      <li><textarea placeholder="Possible Answer" name="thirdAnswer"></textarea></li>
      <li><textarea placeholder="Possible Answer" name="fourthAnswer"></textarea></li>
    </ol>

    <div><input id="add-question" type="button" value="Add question" ></input></div>
    <div><input type="submit" value="Create Quiz" ></input></div>
  </form>
</body>

<script type="text/javascript" src="/scripts/app.js"></script>
</html>
