<!DOCTYPE html>
<html lang="en">
  <head>
    <title>QUIZ APP</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
  </head>
  <body>
    <header>
      <% if(!user) { %>
      <button>
        <a class="navbar-brand" href="/mainPage">CREATING QUIZ PAGE</a>
      </button>
      <button>
        <a class="navbar-brand" href="/register">REGISTRATION PAGE</a>
      </button>
      <button><a class="navbar-brand" href="/login">LOG IN PAGE</a></button>
      <%  } else { %>
      <button>
        <a class="navbar-brand" href="/mainPage">CREATING QUIZ PAGE</a>
      </button>
      <span>Welcome : <%= user.firstName %></span>
      <span>Asscociated Email : <%= user.email %></span>
      <form method="POST" action="/logout">
        <input class="navbar-brand" type="submit" value="Logout" />
      </form>
      <% } %>
    </header>

