<!DOCTYPE html>
<html lang="en">
<header>
    <button> <a class="navbar-brand" href="/mainPage">CREATING QUIZ PAGE</a></button>
    <button> <a class="navbar-brand" href="/register">REGISTRATION PAGE</a></button>
    <button> <a class="navbar-brand" href="/login">LOG IN PAGE</a></button>
    <form method="POST" action="/logout"> 
        <input  class ="navbar-brand" type="submit" value="Logout" >
      </form>
  </header>