<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quiz App</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
  </head>
  <body>
    <header>
      <% if(!user) { %>
      <button>
        <a class="navbar-brand" href="/main-page">Home</a>
      </button>
      <button>
        <a class="navbar-brand" href="/register">Register Account</a>
      </button>
      <button><a class="navbar-brand" href="/login">Log In</a></button>
      <%  } else { %>
      <button>
        <a class="navbar-brand" href="/creating-quiz-page">Create Quiz</a>
      </button>
      <button><a class="navbar-brand" href="/creating-quiz-page">Edit Quiz</a></button>
      <button><a class="navbar-brand" href="/quiz-created">Show Quiz</a></button>
      <span>Welcome: <%= user.firstname %></span>
      <span>Email: <%= user.email %></span>
      <form method="POST" action="/logout">
        <input class="navbar-brand" type="submit" value="Logout" />
      </form>
      <% } %>
    </header>

