<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=devide-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/styles/login.css" />

</head>

<body>
<%- include('header') %>

    <h1 class="app-name">Quiz Generator</h1>
    <div class="main-container">

    <form action="/login" method ="POST" autocomplete="off">
    <section>
 <div class="login-container">
    <label class="email-account">Email Address</label>
    <input class="email-address" name="email" placeholder="Enter your email here">
  </div>

  <div class="password-container">
    <label class="password-box">Password</label>
    <input class="password-input" type="password" name="password" placeholder="Enter your password here">
  </div>

  </section>
    <div class="sign-in"><button class="sign-in-button" type="submit" value="Sign In">Sign In</button></div>
  </div>
</body>
</html>
