<%- include('header') %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=devide-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/styles/login.css" />
  </head>
<body>
    <h1>Login</h1>
    <form action="/login" method ="POST" autocomplete="off">
      <section>
 <div class="email"
    <label for ="email">Email Address:</label> </div>
    <input type="email" name="email" placeholder="Email">
  </div>
   <!-- <div class="username">
    <label for ="username">Username:</label>
    <input type="username" name="username" placeholder="Username">
  </div> -->
  <div class="password">
    <label for ="password">Password:</label>
    <input type="password" name="password" placeholder="Password">
  </div>
</section>
    <input type="submit" value="Sumbit" >
</body>
</html>
