<%- include('header') %>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>YOUR HAVE BEEN SUCCESSFULL LOGGED OUT. PLEADE LOG BACK IN OR REGISTER TO CREATE QUIZES</h3>
</body>
</html>