<%- include('header') %>
<body>
    <h1>WELECOME TO THE MAIN PAGE QUIZ CREATOR</h1>
   <% if(!user) { %>
    <h3>PLEASE LOG IN OR REGISTER FOR ACCESS THE QUIZES</h3>
  <%  } else { %>
    <h3>YOU ARE LOGGED IN</h3>
    
  <%  } %>
  <button>
    <a class="navbar-brand" href="/creatingQuiz">CLICK HERE TO CREATE QUIZ</a>
  </button>
</body>
</html>