<%- include('header') %>
<body>
    <h1>Welcome to Quiz Creator App</h1>
   <% if(!user) { %>
    <h3>Please log in or register to access the quiz</h3>
  <%  } else { %>
    <h3>You are logged in!</h3>
    <button>
      <a class="navbar-brand" href="/quizTemplate">Click here to create Quiz Template</a>
      <%  } %>
    </button>
    <u><h3>QUIZZES CREATED</h3></u>
    <% for(let eachObject of users) { %>
      <br><label><button><a href="/answerQuiz/<%=eachObject.quiz_title %>" class="navbar-brand" ><%=eachObject.quiz_title %></a></button></label><br>
    <%  } %>
</body>
</html>
