<%- include('header') %>
<body>
    <h1>Welcome to Quiz Creator App</h1>
   <% if(!user) { %>
    <h3>Please log in or register to access the quiz</h3>
  <%  } else { %>
    <h3>You are logged in!</h3>
    <button>
      <a class="navbar-brand" href="/quizTemplate">Click here to create Quiz Template</a>
      <%  } %>
    </button>
    <% for(let eachObject of users) { %>
      <label><h4><%=eachObject.quiz_title %></h4></label>
    <%  } %>
</body>
</html>
