<%- include('header') %>

<body>
    <h2>CREATE QUIZ TEMPLATE</h2>

    <form method="POST" action="/creating-quiz-template">
      <!---->  <div> <label>Quiz Title</label></div>
        <div><textarea placeholder="QUIZ TITLE" name="quiz_title"></textarea></div>
       <div> <label>Categories</label></div>
    <div><select name="categories" id="categoriesValues">
        <option value="" name="">Math</option>
        <option value="sports"name="sports">Sports</option>
        <option value="history" name="history">History</option>
        <option value="geography" name="geography">Geography</option>
        <option value="science" name="science">Science</option>
        <option value="music" name="music">Music</option>
        <option value="arts"name='arts'>Arts</option>
        <option value="movie" name="movie">Movie</option>
        <option value="other" name="other">Other</option>

      </select></div>
    <label>How many Question Would you like to make for your Quiz</label>
   <div> <select  name="questionValue"id="selectNumber">
    <option value="1" name="1">1</option>
    <option value="2" name="2">2</option>
    <option value="3" name="3">3</option>
    <option value="4" name="4">4</option>
    <option value="5" name="5">5</option>
    <option value="6" name="6">6</option>
  </select></div>

    <div><input type="submit" value="Submit Template Quiz" ></input></div>



</form>
</body>
</html>
