<%- include('header') %>
<body>
    <h2>QUIZ CREATED SUCCESFULLY</h2>
    <div><h3>Question</h3></div>
    <ul>
   <li><h4>Answer1</h4></li>
   <li><h4>Answer2</h4></li>
   <li><h4>Answer3</h4></li>
   <li><h4>Answer4</h4></li>
</ul>
</body>
</html>