<%- include('header') %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=devide-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/styles/registration.css" />
  </head>
<body>
    <section>
        <h1 class="create">Quiz Generator</h1>
        <div class="info">
        <form action="/register" method ="POST" autocomplete="off">
          <div class="username-container">
            <label class="username">Enter First Name:</label>
          <input type="username" name="firstName" placeholder="Enter First Name:" style="margin:10px;">
        </div>
        <div class="username-container">
          <label class="username">Enter Last Name:</label>
        <input type="username" name="lastName" placeholder="Enter Last Name:" style="margin:10px;">
      </div>
          <div class="email-container">
        <label class="email">Email Address</label>
        <input class="emailbox" type="email" name="email" placeholder="Enter Email" style="margin:10px;">
      </div>
      
      <div class="password-container">
        <label class="password">Password</label>
        <input type="password" name="password" placeholder="Password" style="margin:10px;">
      </div>
      <div>
        <input type="submit" value="Register" >
        </div>
        </form>
        </section>
</body>
</html>
