.app-name {
  display: flex;
  color: rgb(0, 0, 0);
  justify-content: center;
  font-family: 'Roboto Mono', monospace;
}

.main-container {
  border: 2px solid white;
  padding: 35px 35px 35px 50px;
  display: flex;
  justify-content: center;
}

.email-account, .password-box {
  font-family: 'Roboto Mono', monospace;
  border: 2px solid #9CCADE ;
  border-radius: 10px 10px;
  display: flex;
  margin: 3px;
  background: #9CCADE;
  background-clip: padding-box;
  align-items: center;
  justify-content: center;
  border: 10px;
  padding: 15px;
  text-align: left;
  display: inline-block;
  min-width: 130px;
  height: fit-content;
}

.email-address {
  border: 1px solid;
  border-radius: 5px 5px;
  display: flex;
  margin: 20px;
  padding: 10px 20px 10px 20px;
  min-width: 220px;
}

.password-input {
  border: 1px solid;
  border-radius: 5px 5px;
  display: flex;
  margin: 20px;
  padding: 10px 20px 10px 20px;
  min-width: 220px;
  height: 20px
}

.login-container {
  display: flex;

}

.password-container {
  display: flex;
}

.sign-in {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-button {
  font-family: 'Roboto Mono', monospace;
  font-size: x-large;
  border-radius: 5px 5px;
  margin: 3px;
  background: #9CCADE;
  background-clip: padding-box;
  border: 50px;
  padding: 10px 30px 10px 30px;
}
