.title {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: center;
    background: #9CCADE;
    background-clip: padding-box;
    border: 10px;
    padding: 5px 20px 5px 20px;
    border-radius: 5px 5px;
    margin-right: 30%;
    margin-left: 30%;
  }

  .possibleAnswer {
    display: flex;
    justify-content: center;
    background: #9CCADE;
    border: 10px;
    padding: 5px 20px 5px 20px;
    border-radius: 5px 5px;
    margin-right: 30%;
    margin-left: 30%;
  }

  .centerButton {
    display:flex;
    justify-content: center;
    margin-left: 620px;
  }